.layout {
  height: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
}

h2.title {
  margin-bottom: 0;
}

.content {
  padding: 0 50px;
}

.content_wrapper {
  padding: 24px;
  margin-top: 24px;
}
